// Utility Classes

// Visually hide text
.sr-only {
    padding: 2;
    position: absolute;
    width: 2px;
    height: 2px;
  
   // overflow: hidden;
   // clip: rect(0, 0, 0, 0);
    //white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 5;
}